.outer-grid {
  transform: rotate(-45deg);
}

.inner-grid {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.whole {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.quarter {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1;
}

.quarter:nth-child(1) {
  grid-column: 1;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
}

.quarter:nth-child(2) {
  grid-column: 2;
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
}

.quarter:nth-child(3) {
  grid-column: 1;
  background: repeating-linear-gradient(
    135deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
}

.quarter:nth-child(4) {
  grid-column: 2;
  background: repeating-linear-gradient(
    225deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
}
